.content {
	display: flex;
	justify-content: center;
}

.body {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

a {
	color: white;
	border-radius: 7px;
	background-color: #4f80dc;
	padding: 10px 28px;
	text-decoration: none;
}
